/*
 * Color Guide
 * #08A1BF - Pundit Blue
 * #6007B5 - Pundit Purple
 * #333333
 * #5B6C72 - Grayed blue. Top bar background
 * #CCCCCC
 * #E5E5EA
 * #F7F7F7
 * #D0021B - Red. Inappropriate/Errpr.
 */

* {
  /*
    some <input> elements override this property back to
    content-box in reset.css to avoid old browsers' bugs.
  */
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.hidden {
  display: none;
}

.clearfix:after {
  content: "";
  display: table;
  clear: both;
}

.centered-overlay {
  overflow: hidden;
  position: absolute;
  margin: auto;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 20px;
  background: #FFFFFF;
  border: 1px solid #E5E5EA;
  border-radius: 4px;
}

.overlay-fullpage-bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
}

body {
  line-height: 1;
  background: #F7F7F7;
  font-family: 'SF UI Text', Arial, Helvetica, sans-serif;
  font-size: 16px;
  line-height: 1.4;
}

a:link, a:visited {
  color: #08A1BF;
}

a:hover, a:active, a:focus {
  /* TODO: confirm the hover color */
  color: #08A1BF;
}

.two-x-bg-icons {
  background-size: 300px 160px!important;
}

/*~~ Buttons ~~*/
.action-button-blue {
  width: 102px;
  height: 30px;
  background: #08A1BF;
  border: none;
  border-radius: 4px;
  color: #FFFFFF;
}

.action-button-hollow-blue {
  background: transparent;
  border: 1px solid #08A1BF;
  border-radius: 20px;
  color: #08A1BF;
}

.action-button-white {
  background: #FFFFFF;
  border: 1px solid #E5E5EA;
  border-radius: 4px;
  color: #CCCCCC;
}

.action-button-gray {
  background: #CCCCCC;
  border: none;
  border-radius: 4px;
  color: #FFFFFF;
}

.action-button-white-borderless {
  background: none;
  border: none;
  color: #CCCCCC;
}

.action-button-purple {

}

.play-pause-button {
  display: inline-block;
  width: 40px;
  height: 40px;
  background: #08A1BF;
  border: none;
  border-radius: 50%;
  color: #FFFFFF;
}
/*~~ Buttons End ~~*/

/*~~ Avatar ~~*/
.avatar-tiny {
  display: inline-block;
  overflow: hidden;
  width: 25px;
  height: 25px;
  border-radius: 50%;
}

.avatar-small-tiny {
  display: inline-block;
  overflow: hidden;
  width: 35px;
  height: 35px;
  border-radius: 50%;
}

.avatar-small {
  display: inline-block;
  overflow: hidden;
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

.avatar-medium {
  display: inline-block;
  overflow: hidden;
  width: 60px;
  height: 60px;
  border-radius: 50%;
}

.avatar-big {
  display: inline-block;
  overflow: hidden;
  width: 100px;
  height: 100px;
  border-radius: 50%;
}
/*~~ Avatar Ends ~~*/

/*~~ Global Search ~~*/
.global-search {
  padding: 0 10px 0 30px;
  width: 260px;
  height: 30px;
  background: rgba(255, 255, 255, 0.2);
  border: none;
  border-radius: 15px;
  color: #FFFFFF;
}

.search-results {
  position: absolute;
  top: 70px;
  left: 0;
  right: 0;
  margin:auto;
  width: 200px;
  box-shadow: 0px 0px 3px 1px rgba(0,0,0,0.10);
  text-align: left;
}

.search-results:before {
  content: "";
  position: absolute;
  top: -5px;
  left: 0;
  right: 0;
  margin: auto;
  width: 11px;
  height: 11px;
  transform: rotate(45deg);
  background: #FFFFFF;
  box-shadow: 0px 0px 3px 1px rgba(0,0,0,0.10);
}

.search-results-list {
  overflow: scroll;
  position: relative;
  max-height: 280px;
  border-radius: 3px;
}

.search-result {
  cursor: pointer;
  padding: 15px;
  height: 62px;
  background: #FFFFFF;
  border-bottom: 1px solid #E5E5EA;
}

.search-result .avatar-tiny {
  float: left;
  margin-top: 3px;
  margin-right: 15px;
}

.search-result .hash-sign {
  color: #B4E3EC;
  font-size: 1.8em;
  font-weight: bold;
}

.search-result-channel .avatar-tiny {
  text-align: center;
}

.search-result-detail {
  float: left;
  line-height: 1.4;
}

.search-result-detail .title,
.search-result-detail .subtitle {
  overflow: hidden;
  width: 130px;
  height: 16px;
  font-size: 12px;
}

.search-result-detail .title {
  color: #333;
}

.search-result-detail .subtitle {
  color: #5B6C72;
}

/*
  We have to use JavaScript to make sure both keyboard arrows
  and mouse move work on the list item.
  Use .hover instead of :hover should make things easier.
  TODO: get the right hover style from designer.
*/
.search-result.hover {
  background: #08A1BF;
}

.search-result.hover .search-result-detail .title,
.search-result.hover .search-result-detail .subtitle {
  color: #FFFFFF;
}
/*~~ Global Search Ends ~~*/

/*~~ Page Header ~~*/
.page-header {
  width: 100%;
  height: 55px;
  background: #5B6C72;
  text-align: center;
}

.page-header-content {
  overflow: hidden;
  margin: 0 auto;
  width: 745px;
  height: 100%;
}

.page-header .logo {
  float: left;
  margin-top: 7px;
  width: 138px;
  height: 40px;
  text-indent: -9999em;
  background: url(/images/icons.png) no-repeat;
}

.page-header .global-search-form {
  position: relative;
  float: left;
  margin: 12px 62px 0 80px;
}

.page-header .global-search-button {
  position: absolute;
  top: 3px;
  left: 5px;
  width: 24px;
  height: 24px;
  border: none;
  background: none;
  font-size: 0;
}

.page-header .global-search-button:after {
  content: "";
  position: absolute;
  left: 6px;
  top: 6px;
  width: 12px;
  height: 12px;
  background: url(/images/icons.png) no-repeat -110px -25px;
  background-size: 150px 80px;
}

.page-header .header-avatar {
  float: right;
  margin-top: 7px;
}

.page-header .upload-button,
.page-header .login-button {
  float: left;
  margin-top: 25px;
}

.page-header .login-button {
  margin-left: 9px;
}
/*~~ Page Header Ends ~~*/

/*~~ Global Player ~~*/
.fixed-player {
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  height: 55px;
  background: #492fb4; /* Old browsers */
  background: -moz-linear-gradient(top, #492fb4 0%, #814ac4 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top, #492fb4 0%,#814ac4 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, #492fb4 0%,#814ac4 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  color: #FFFFFF;
  text-align: center;
}

.fixed-player .player-wrapper {
  margin: auto;
  width: 910px;
  height: 100%;
}

.fixed-player .player-component {
  float: left;
  height: 100%;
}

.fixed-player .player-control {
  width: 120px;
}

.fixed-player .player-button {
  float: left;
  margin-top: 19px;
  background: none;
  border: none;
  color: #FFFFFF;
  font-size: 0;
  text-align: center;
}

.fixed-player .play-pause-button {
  margin: 14px 8px 0;
  width: 40px;
  height: 27px;
}
.fixed-player .player-button:before {
  content: "";
  display: inline-block;
  background: url(/images/icons.png) no-repeat;
  background-size: 150px 80px;
}

.fixed-player .prev-button:before {
  width: 20px;
  height: 16px;
  background-position: -55px -25px;
}

.fixed-player .next-button:before {
  width: 20px;
  height: 16px;
  background-position: -77px -25px;
}

.fixed-player .play-button:before {
  width: 28px;
  height: 27px;
  background-position: 0 -25px;
}

.fixed-player .pause-button:before {
  width: 16px;
  height: 27px;
  background-position: -30px -25px;
}

.fixed-player .player-progress {
  margin: 0 0 0 28px;
  padding: 19px;
  width: 575px;
  font-weight: lighter;
}

.fixed-player .elapsed-time {
  float: left;
  margin-right: 10px;
}

.fixed-player .remaining-time {
  float: right;
  margin: 0 20px 0 10px;
}

.fixed-player .progress-bar-wrapper {
  overflow: hidden;
  margin-top: 9px;
  height: 2px;
  background: rgba(255, 255, 255, 0.2);
}

.fixed-player .progress-bar {
  height: 2px;
  background: #FFFFFF;
}

.fixed-player .track-info {
  width: 187px;
  white-space: nowrap;
}

.fixed-player .avatar-small-tiny {
  display: block;
  position: relative;
  top: 10px;
}

.fixed-player .player-tag {
  position: relative;
  margin-left: 45px;
  bottom: 17px;
  font-size: 15px;
}

.fixed-player .username:link,
.fixed-player .username:visited,
.fixed-player .username:hover,
.fixed-player .username:active,
.fixed-player .tag:link,
.fixed-player .tag:visited,
.fixed-player .tag:hover,
.fixed-player .tag:active {
  color: #FFFFFF;
  font-weight: lighter;
}
/*~~ Global Player Ends ~~*/

/*~~ Pundit ~~*/
.pundit-talk-header {
  text-align: center;
  height: 110px;
  background-color: #08A1BF;
}

.pundit-header-tag {
  display: inline-block;
  color: white;
  font-size: 19px;
  font-weight: 600;
  margin-top: 20px;
}

.pundit-header-tag p {
  color: #333;
  font-size: 15px;
  margin-top: 5px;
}

.pundit-header-tag a:link {
  color: white;
}

.pundit-header-bar {
  margin-top: 8px;
}

.page-body {
  margin: 50px auto;
  padding-bottom: 50px;
  width: 630px;
}

.pundit-talk {
  margin: 10px auto;
  width: 500px;
}

.pundit-talk .pundit-subject {
  font-weight: bold;
}

.pundit-talk .pundit-details {
  width: 400px;
}

.pundit-talk .pundit-details a {
  font-weight: normal;
}

.pundit-wrapper {
  overflow: hidden;
  margin: 10px 0;
  padding: 20px;
  background: #FFFFFF;
  border: 1px solid #E5E5EA;
  border-radius: 4px;
}

.pundit-avatar {
  float: left;
  margin: 0 15px 0 0;
}

.pundit-details {
  float: left;
}

.pundit-details .play-pause-button:after {
  content: "";
  left: 15px;
  position: absolute;
  background: url(/images/icons.png) no-repeat;
  background-size: 150px 80px;
}

.pundit-details .pause-button:after {
  top: 12px;
  width: 13px;
  height: 16px;
  background-position: -110px -41px;
}

.pundit-details .play-button:after {
  top: 13px;
  width: 13px;
  height: 14px;
  background-position: -90px -43px;
}

.pundit-details .pundit-tag {
  margin-bottom: 5px;
  color: #333;
}

.pundit-details .pundit-tag a:link,
.pundit-details .pundit-tag a:visited,
.pundit-details .pundit-tag a:hover,
.pundit-details .pundit-tag a:active,
.pundit-details .pundit-tag a:focus,
.pundit-details .comment-details a.username:link,
.pundit-details .comment-details a.username:visited,
.pundit-details .comment-details a.username:hover,
.pundit-details .comment-details a.username:active,
.pundit-details .comment-details a.username:focus {
  /* TODO: confirm the color on hover */
  color: #333;
}

.pundit-details .pundit-subject {
  margin: 5px 0;
}

.pundit-subject p {
  margin-bottom: 10px;
}

.pundit-subject img {
  margin-top: 2px;
  margin-right: 2px;
}

.pundit-subject a {
  font-size: 14px;
  color: #ccc;
}

.pundit-details .pundit-audio {
  overflow: hidden;
  margin: 20px 0;
}

.pundit-details .pundit-audio .play-pause-button {
  position: relative;
  float: right;
  font-size: 0;
}

.pundit-details .pundit-audio .audio-wave {
  float: left;
  width: 400px;
  height: 21px;
  margin-top: 10px;
  /* TODO just a placeholder here for now */
  background: url(/images/wave-placeholder.png) no-repeat;
}

.pundit-details .pundit-preview {
  overflow: hidden;
  margin: 20px 0;
  height: 150px;
  border-radius: 4px;
  color: #5B6C72;
}

.pundit-details .pundit-preview-image {
  float: left;
  width: 150px;
  height: 150px;
}

.pundit-details .pundit-preview-description {
  float: left;
  padding-left: 20px;
  width: 362px;
  height: 150px;
  line-height: 1.2;
  border: 1px solid #E5E5EA;
  border-left: none;
  border-radius: 0 4px 4px 0;
}

.pundit-details .pundit-preview-description a:link,
.pundit-details .pundit-preview-description a:visited {
  color: #5B6C72;
}

.pundit-details .pundit-preview-title {
  font-size: 14px;
}

.pundit-details .pundit-preview-origin {
  margin-top: 10px;
  font-size: 12px;
}

.pundit-details .pundit-actions {
  margin: 20px 0 10px;
  line-height: 30px;
}

.pundit-details .pundit-actions .pundit-share-button,
.pundit-details .pundit-actions .pundit-like-button {
  margin-right: 10px;
  width: 78px;
  height: 30px;
  font-size: 12px;
}

.pundit-details .pundit-actions .pundit-share-button:hover,
.pundit-details .pundit-actions .pundit-like-button:hover {
  background: #6007B5;
  border-color: #6007B5;
  color: #FFFFFF;
}

.pundit-details .pundit-actions .pundit-share-button:before,
.pundit-details .pundit-actions .pundit-like-button:before {
  content: "";
  display: inline-block;
  position: relative;
  top: 1px;
  background: url(/images/icons.png) no-repeat;
}

.pundit-details .pundit-actions .pundit-share-button:before {
  margin-right: 10px;
  width: 10px;
  height: 10px;
  background-position: -77px 0px;
  background-size: 150px 80px;
}

.pundit-details .pundit-actions .pundit-share-button:hover:before {
  background-position: -87px 0px;
}

.pundit-details .pundit-actions .pundit-like-button:before {
  margin-right: 7px;
  width: 12px;
  height: 10px;
  background-position: -29px -31px;
  background-size: 80px 43px;
}

.pundit-details .pundit-actions .pundit-like-button:hover:before {
  background-position: 0px -31px;
}

.pundit-details .pundit-actions .pundit-mark-button {
  float: right;
  margin-right: 16px;
  height: 30px;
  line-height: 1;
  font-size: 28px;
}

.pundit-details .pundit-note-description {
  float: right;
  color: #CCCCCC;
}

/*~~ Pundit Ends ~~*/

/*~~ Channel ~~*/
.channel-wrapper {
  position: relative;
  padding: 60px 20px 10px;
  background: #FFFFFF;
  border: 1px solid #E5E5EA;
  border-radius: 4px;
  text-align: center;
}

.channel-wrapper .join-channel-button {
  position: absolute;
  top: 20px;
  right: 20px;
  width: 70px;
  height: 32px;
}

.channel-wrapper .title {
  height: 80px;
  font-weight: bold;
}

.channel-wrapper .hash-sign {
  position: relative;
  top: -15px;
  margin-right: 5px;
  color: rgba(8, 161, 191, 0.3);
  font-size: 3.7em;
}

.channel-wrapper .channel-title {
  position: relative;
  top: -40px;
  font-size: 48px;
}

.channel-wrapper .channel-detail {
  color: #5B6C72;
}

.channel-wrapper .channel-members-list {
  overflow: hidden;
  position: relative;
  left: -1px;
  margin-top: 30px;
  width: 590px;
}

.channel-wrapper .channel-member {
  float: left;
  margin-left: 10px;
  margin-bottom: 10px;
}

.channel-wrapper .channel-member:nth-child(12n+1) {
  margin-left: 0;
}

.pundits-filter {
  height: 55px;
  margin-bottom: 20px;
  border-bottom: 1px solid #E5E5EA;
}

.pundits-filter .pundit-filter {
  width: 50%;
  height: 100%;
  background: none;
  border: none;
  border-bottom: 4px solid transparent;
  font-size: 15px;
}

.pundits-filter .pundit-filter.selected {
  border-bottom-color: #08A1BF;
  color: #08A1BF;
  font-weight: bold;
}
/*~~ Channel Ends ~~*/

/*~~ User Profile ~~*/
.profile-wrapper {
  position: relative;
  padding: 20px;
  background: #FFFFFF;
  border: 1px solid #E5E5EA;
  border-radius: 4px;
  text-align: center;
}

.profile-wrapper .username {
  height: 20px;
  font-size: 20px;
}

.profile-wrapper .fullname {
  margin: 10px auto 20px;
  height: 15px;
  font-size: 14px;
}

.user-profile-avatar {
  overflow: hidden;
  margin: 20px auto;
  padding-top: 5px;
  width: 110px;
  height: 110px;
  background: #874ec6; /* Old browsers */
  background: -moz-linear-gradient(top, #874ec6 0%, #3023ad 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top, #874ec6 0%,#3023ad 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, #874ec6 0%,#3023ad 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  border-radius: 50%;
}

.profile-wrapper .section {
  display: inline-block;
  margin: 0 32px;
  height: 44px;
}

.profile-wrapper .number {
  color: #333;
  font-size: 20px;
}

.profile-wrapper .description {
  line-height: 2;
  color: #999999;
  font-size: 13px;
}

.profile-wrapper .follow-button {
  position: absolute;
  top: 20px;
  right: 20px;
  width: 90px;
  height: 30px;
  font-size: 12px;
}

.profile-wrapper .follow-button:before {
  content: "";
  display: inline-block;
  position: relative;
  top: 2px;
  left: -6px;
  width: 20px;
  height: 14px;
  background: url(/images/icons.png) no-repeat -110px 0;
  background-size: 150px 80px;
}

/*~~ User Profile Ends ~~*/

/*~~ Upload Overlay ~~*/
.upload-form {
  width: 630px;
  height: 418px;
  text-align: center;
}

.upload-form:before {
  content: "";
  position: absolute;
  top: 124px;
  left: 60px;
  width: 100px;
  height: 135px;
  background: url(/images/icons_big.jpg) no-repeat 0 -69px;
  background-size: 100px 298px;
}

/* used to cover the sad face icon in the background of .upload-form:before */
.upload-form:after {
  content: "";
  position: absolute;
  top: 234px;
  left: 60px;
  width: 25px;
  height: 25px;
  background: white;
}

.upload-drop-area {
  position: relative;
  width: 100%;
  height: 320px;
  border: 4px dashed #CCCCCC;
  border-radius: 3px;
}

.upload-drop-area:after {
  content: "";
  position: absolute;
  top: 112px;
  left: 259px;
  width: 69px;
  height: 94px;
  background: url(/images/icons_big.jpg) no-repeat 0 -205px;
  background-size: 100px 298px;
}

.upload-form .title {
  margin: 45px auto 10px;
  color: #08A1BF;
  font-size: 25px;
}

.upload-form .subtitle {
  margin-bottom: 130px;
  color: #CCCCCC;
  font-size: 13px;
}

.upload-form .file-button {
  width: 140px;
  height: 40px;
}

.upload-form .description {
  margin-top: 30px;
  color: #08A1BF;
  font-size: 13px;
}
/*~~ Upload Overlay Ends ~~*/

/*~~ Post Pundit Overlay ~~*/
.edit-pundit-overlay {
  width: 630px;
  height: 418px;
  text-align: center;
}

.edit-pundit-form .play-pause-button {
  position: relative;
  font-size: 0;
}

.edit-pundit-form .play-pause-button:after {
  content: "";
  left: 14px;
  position: absolute;
  background: url(/images/icons.png) no-repeat;
  background-size: 150px 80px;
}

.edit-pundit-form .pause-button:after {
  top: 12px;
  width: 13px;
  height: 16px;
  background-position: -110px -41px;
}

.edit-pundit-form .play-button:after {
  top: 13px;
  width: 13px;
  height: 14px;
  background-position: -90px -43px;
}

.edit-pundit-form .title {
  margin: 10px auto;
  color: #08A1BF;
  font-size: 25px;
}

.edit-pundit-form .subtitle {
  color: #CCCCCC;
  font-size: 13px;
}

.edit-pundit-form .audio-section {
  margin-top: 20px;
  height: 160px;
  border-bottom: 1px solid #E5E5EA;
}

.edit-pundit-form .control-button {
  float: left;
  margin-top: 50px;
  margin-right: 8px;
  width: 40px;
  height: 40px;
}

.edit-pundit-form .audio-adjust {
  float: left;
  position: relative;
  width: 540px;
  height: 140px;
}

.edit-pundit-form .audio-wave {
  margin-top: 50px;
  width: 100%;
  height: 40px;
  background: #F7F7F7;
}

.edit-pundit-form .audio-selected {
  position: absolute;
  top: 35px;
  left: 0;
  width: 340px;
  height: 70px;
  background: rgba(8, 161, 191, 0.1);
  border-left: 2px solid #3023AE;
  border-right: 2px solid #3023AE;
}

.edit-pundit-form .audio-adjust-slider {
  position: absolute;
  top: 0;
  height: 140px;
  color: #CCCCCC;
  font-size: 13px;
}

.edit-pundit-form .audio-adjust-slider .time {
  position: absolute;
  top: 13px;
  left: -19px;
}

.edit-pundit-form .audio-start .label {
  position: absolute;
  left: -28px;
  bottom: -5px;
}

.edit-pundit-form .audio-end .label {
  position: absolute;
  left: -4px;
  bottom: -5px;
}

.edit-pundit-form .audio-start .slider {
  position: absolute;
  left: -20px;
  bottom: 15px;
  width: 23px;
  height: 20px;
  background: url(/images/icons.png) no-repeat -87px -57px;
  background-size: 150px 80px;
  border: none;
}

.edit-pundit-form .audio-end .slider {
  position: absolute;
  left: -2px;
  bottom: 15px;
  width: 23px;
  height: 20px;
  background: url(/images/icons.png) no-repeat -110px -57px;
  background-size: 150px 80px;
  border: none;
}

/*~~TODO: delete these initial state styles below~~*/
.edit-pundit-form .audio-end {
  left: 340px;
}
/*~~TODO: delete these initial state styles above~~*/

.edit-pundit-form .pundit-caption,
.edit-pundit-form .pundit-channel {
  width: 100%;
  border: none;
  font-weight: lighter;
}

.edit-pundit-form .pundit-caption {
  margin-top: 20px;
  font-size: 20px;
}

.edit-pundit-form .pundit-channel {
  margin-top: 15px;
  font-size: 17px;
}

.edit-pundit-form .submit-button {
  position: absolute;
  bottom: 20px;
  right: 20px;
  width: 70px;
  height: 40px;
}

.edit-pundit-form .cancel-button {
  position: absolute;
  bottom: 20px;
  left: 20px;
  width: 84px;
  height: 40px;
}
/*~~ Post Pundit Overlay Ends ~~*/

/*~~ Login Overlay ~~*/
.login-form {
  overflow: hidden;
  position: relative;
  margin: 0 auto;
  width: 630px;
  height: 420px;
  background-color: #FFFFFF;
  border: 1px solid #E5E5EA;
  border-radius: 4px;
  box-shadow: 0 0 0 1px #979797;
  text-align: center;
}

.login-form:before {
  content: "";
  position: absolute;
  top: 230px;
  left: 24px;
  width: 100px;
  height: 69px;
  background: url(/images/icons_big.jpg) no-repeat;
  background-size: 100px 298px;
}

.login-form .login-user-info {
  overflow: hidden;
  height: 310px;
}

.login-form .login-title {
  margin: 35px 0 10px;
  color: #08A1BF;
  font-size: 2.15em;
  font-weight: bold;
}

.login-form .login-subtitle {
  margin: 10px 0 35px;
  font-size: 1.1em;
}

.login-form .login-username,
.login-form .login-password {
  margin-bottom: 30px;
  width: 250px;
  border: none;
  border-bottom: 1px solid #E6E6E6;
  color: #5B6C72;
  font-size: 1.2em;
}

.login-form .login-username:focus,
.login-form .login-password:focus {
  outline: none;
  border-bottom-color: #08A1BF;
}

.login-form .login-button {
  margin-top: 5px;
  width: 80px;
  height: 40px;
}

.login-form .login-error-message {
  position: relative;
  margin-top: 5px;
  height: 25px;
  line-height: 25px;
  color: #5B6C72;
  font-size: 0.95em;
  text-indent: 30px;
}

.login-form .login-error-message:before {
  content: "";
  position: absolute;
  left: 188px;
  top: 0;
  width: 25px;
  height: 25px;
  background: url(/images/icons_big.jpg) no-repeat 0 -179px;
  background-size: 100px 298px;
}

.login-form .register-info {
  height: 110px;
  background: #F7F7F7;
}

.login-form .register-info .description {
  color: #5B6C72;
}

.login-form .close-login-button {
  position: absolute;
  top: 10px;
  left: 10px;
  background: none;
  border: none;
  font-size: 0;
}

.login-form .close-login-button:before {
  content: "";
  display: inline-block;
  width: 23px;
  height: 23px;
  background: url(/images/icons.png) no-repeat -265px -115px;
  background-size: 300px 160px;
}
/*~~ Login Overlay Ends ~~*/

/*~~ Register to get app form ~~*/
/* Only use wrapper when the form is not nested in login overlay */
.register-wrapper {
  height: 110px;
  background: #FFFFFF;
  border: 1px solid #E5E5EA;
  border-radius: 4px;
  text-align: center;
}

.register-info {
  padding-top: 25px;
}

.register-info .register-form {
  margin-top: 25px;
}

.register-info .country-code,
.register-info .phone-number {
  background: none;
  border: none;
  border-bottom: 1px solid #E6E6E6;
  color: #5B6C72;
  font-size: 1.2em;
  text-align: center;
}

.register-info .country-code {
  margin-left: 20px;
  width: 70px;
}

.register-info .phone-number {
  margin: 0 20px;
  width: 175px;
}

.register-info .country-code:focus,
.register-info .phone-number:focus {
  outline: none;
  border-bottom-color: #08A1BF;
}

.register-info .get-app-button {
  position: relative;
  top: -6px;
  width: 100px;
  height: 30px;
}
/*~~ Register to get app form ends ~~*/
