/*
 * Color Guide
 * #08A1BF - Pundit Blue
 * #6007B5 - Pundit Purple
 * #333333
 * #5B6C72 - Grayed blue. Top bar background
 * #CCCCCC
 * #E5E5EA
 * #F7F7F7
 */

* {
  /*
    some <input> elements override this property back to
    content-box in reset.css to avoid old browsers' bugs.
  */
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.hidden {
  display: none;
}

.clearfix:after {
  content: "";
  display: table;
  clear: both;
}

body {
  line-height: 1;
  background: #F7F7F7;
  font-family: 'SF UI Text', Arial, Helvetica, sans-serif;
  font-size: 14px;
}

a:link, a:visited {
  color: #08A1BF;
}

a:hover, a:active, a:focus {
  /* TODO: confirm the hover color */
  color: #08A1BF;
}

.two-x-background {
  background-size: 100%!important;
}

/*~~ Buttons ~~*/
.action-button-blue {
  width: 102px;
  height: 30px;
  background: #08A1BF;
  border: none;
  border-radius: 4px;
  color: #FFFFFF;
}

.action-button-hollow-blue {
  background: transparent;
  border: 1px solid #08A1BF;
  border-radius: 4px;
  color: #08A1BF;
}

.action-button-white {
  background: #FFFFFF;
  border: 1px solid #E5E5EA;
  border-radius: 4px;
  color: #CCCCCC;
}

.action-button-white-borderless {
  background: none;
  border: none;
  color: #CCCCCC;
}

.action-button-purple {

}

.play-pause-button {
  display: inline-block;
  width: 40px;
  height: 40px;
  background: #08A1BF;
  border: none;
  border-radius: 50%;
  color: #FFFFFF;
}
/*~~ Buttons End ~~*/

/*~~ Avatar ~~*/
.avatar-small {
  display: inline-block;
  overflow: hidden;
  width: 40px;
  height: 40px;
  border-radius: 50%;
}

.avatar-medium {
  display: inline-block;
  overflow: hidden;
  width: 60px;
  height: 60px;
  border-radius: 50%;
}
/*~~ Avatar Ends ~~*/

/*~~ Global Search ~~*/
.global-search {
  padding: 0 10px;
  width: 280px;
  height: 30px;
  background: rgba(255, 255, 255, 0.2);
  border: none;
  border-radius: 15px;
  color: #FFFFFF;
}
/*~~ Global Search Ends ~~*/

/*~~ Page Header ~~*/
.page-header {
  width: 100%;
  height: 75px;
  background: #5B6C72;
  text-align: center;
}

.page-header-content {
  overflow: hidden;
  margin: 0 auto;
  width: 745px;
  height: 100%;
}

.page-header .logo {
  float: left;
  margin-top: 18px;
  width: 138px;
  height: 40px;
  text-indent: -9999em;
  background: url(/images/logo.png) no-repeat;
}

.page-header .global-search {
  float: left;
  margin: 25px 62px 0 76px;
}

.page-header .header-avatar {
  float: right;
  margin-top: 22px;
}

.page-header .upload-button,
.page-header .login-button {
  float: left;
  margin-top: 25px;
}
/*~~ Page Header Ends ~~*/

/*~~ Pundit ~~*/
.page-body {
  margin: 10px auto;
  width: 630px;
}

.pundit-wrapper {
  overflow: hidden;
  margin: 10px 0;
  padding: 20px;
  background: #FFFFFF;
  border: 1px solid #E5E5EA;
  border-radius: 4px;
}

.pundit-avatar {
  float: left;
  margin: -5px 15px 0 0;
}

.pundit-details {
  float: left;
  width: 513px;
}

.pundit-details .pundit-tag {
  margin-bottom: 5px;
  color: #333;
}

.pundit-details .pundit-tag a:link,
.pundit-details .pundit-tag a:visited,
.pundit-details .pundit-tag a:hover,
.pundit-details .pundit-tag a:active,
.pundit-details .pundit-tag a:focus,
.pundit-details .comment-details a.username:link,
.pundit-details .comment-details a.username:visited,
.pundit-details .comment-details a.username:hover,
.pundit-details .comment-details a.username:active,
.pundit-details .comment-details a.username:focus {
  /* TODO: confirm the color on hover */
  color: #333;
}

.pundit-details .pundit-subject {
  margin: 5px 0 20px 0;
  font-size: 1.42em;
}

.pundit-details .pundit-audio {
  overflow: hidden;
  margin: 20px 0;
}

.pundit-details .pundit-audio .play-pause-button {
  float: left;
  margin-right: 10px;
}

.pundit-details .pundit-audio .audio-wave {
  float: left;
  width: 400px;
  height: 40px;
  /* TODO just a placeholder here for now */
  background: url(/images/wave-placeholder.png) no-repeat;
}

.pundit-details .pundit-preview {
  overflow: hidden;
  margin: 20px 0;
  height: 150px;
  border-radius: 4px;
  color: #5B6C72;
}

.pundit-details .pundit-preview-image {
  float: left;
  width: 150px;
  height: 150px;
}

.pundit-details .pundit-preview-description {
  float: left;
  padding-left: 20px;
  width: 362px;
  height: 150px;
  line-height: 1.2;
  border: 1px solid #E5E5EA;
  border-left: none;
  border-radius: 0 4px 4px 0;
}

.pundit-details .pundit-preview-description a:link,
.pundit-details .pundit-preview-description a:visited {
  color: #5B6C72;
}

.pundit-details .pundit-preview-title {
  font-size: 14px;
}

.pundit-details .pundit-preview-origin {
  margin-top: 10px;
  font-size: 12px;
}

.pundit-details .pundit-actions {
  margin: 20px 0 10px;
  line-height: 30px;
}

.pundit-details .pundit-actions .pundit-share-button,
.pundit-details .pundit-actions .pundit-like-button {
  margin-right: 10px;
  width: 78px;
  height: 30px;
}

.pundit-details .pundit-actions .pundit-share-button:hover,
.pundit-details .pundit-actions .pundit-like-button:hover {
  background: #6007B5;
  border-color: #6007B5;
  color: #FFFFFF;
}

.pundit-details .pundit-actions .pundit-mark-button {
  float: right;
  margin-right: 16px;
  height: 30px;
}

.pundit-details .pundit-note-description {
  float: right;
  color: #CCCCCC;
}

.pundit-details .pundit-comments {
  margin-top: 10px;
  border-top: 1px solid #E5E5EA;
}

.pundit-details .pundit-comment {
  overflow: hidden;
  position: relative;
  padding: 15px 0;
}

.pundit-details .pundit-comment:first-child {
  margin-top: 15px;
}

.pundit-details .pundit-comment .play-pause-button {
  display: none;
  position: absolute;
  left: 0;
  top: 0;
}

.pundit-details .comment-avatar-wrapper {
  float: left;
  margin-right: 15px;
  width: 40px;
  height: 40px;
}

.comment-details {
  float: left;
}

.pundit-details .comment-avatar-wrapper:hover .play-pause-button {
  display: block;
}

.pundit-details .pundit-comment .audio-wave {
  clear: both;
  float: left;
  overflow: hidden;
  width: 400px;
  height: 20px;
  /* TODO just a placeholder here for now */
  background: url(/images/wave-placeholder.png) no-repeat;
  background-size: 161px 20px;
}

.pundit-details .comment-details .username {
  float: left;
  margin-bottom: 5px;
}

.pundit-comments .comment-actions {
  position: absolute;
  right: 0;
  top: 28px;
  color: #CCCCCC;
}

.pundit-comments .comment-actions .pundit-mark-button {
  margin-right: 10px;
}

.pundit-comments .pundit-comments-more {
  display: inline-block;
  margin-top: 15px;
}

.pundit-comments .pundit-comments-more:after {
  /* TODO: replace the placeholder content */
  content: "⌄";
  margin-left: 10px;
  color: #CCCCCC;
  font-size: 1.4em;
  text-indent: 15px;
}

/*~~ Pundit Ends ~~*/

/*~~ Channel ~~*/
.channel-wrapper {
  position: relative;
  padding: 60px 20px 10px;
  background: #FFFFFF;
  border: 1px solid #E5E5EA;
  border-radius: 4px;
  text-align: center;
}

.channel-wrapper .join-channel-button {
  position: absolute;
  top: 20px;
  right: 20px;
  width: 134px;
  height: 28px;
  font-size: 0.86em;
}

.channel-wrapper .title {
  height: 80px;
  font-weight: bold;
}

.channel-wrapper .hash-sign {
  position: relative;
  top: -15px;
  margin-right: 5px;
  color: rgba(8, 161, 191, 0.3);
  font-size: 3.7em;
}

.channel-wrapper .channel-title {
  position: relative;
  top: -40px;
  font-size: 48px;
}

.channel-wrapper .channel-detail {
  color: #5B6C72;
}

.channel-wrapper .channel-members-list {
  overflow: hidden;
  position: relative;
  left: -1px;
  margin-top: 30px;
  width: 590px;
}

.channel-wrapper .channel-member {
  float: left;
  margin-left: 10px;
  margin-bottom: 10px;
}

.channel-wrapper .channel-member:nth-child(12n+1) {
  margin-left: 0;
}

.pundits-filter {
  height: 55px;
  margin-bottom: 20px;
  border-bottom: 1px solid #E5E5EA;
}

.pundits-filter .pundit-filter {
  width: 50%;
  height: 100%;
  background: none;
  border: none;
  border-bottom: 4px solid transparent;
  font-size: 15px;
}

.pundits-filter .pundit-filter.selected {
  border-bottom-color: #08A1BF;
  color: #08A1BF;
  font-weight: bold;
}
/*~~ Channel Ends ~~*/

/*~~ Login Overlay ~~*/
.login-form {
  overflow: hidden;
  position: relative;
  margin: 0 auto;
  width: 630px;
  height: 420px;
  background: #FFFFFF url(/images/happy_face.jpg) no-repeat 24px 230px;
  background-size: 100px 69px;
  border: 1px solid #E5E5EA;
  border-radius: 4px;
  box-shadow: 0 0 0 1px #979797;
  text-align: center;
}

.login-form .login-user-info {
  overflow: hidden;
  height: 310px;
}

.login-form .login-title {
  margin: 35px 0 10px;
  color: #08A1BF;
  font-size: 2.15em;
  font-weight: bold;
}

.login-form .login-subtitle {
  margin: 10px 0 35px;
  font-size: 1.1em;
}

.login-form .login-username,
.login-form .login-password {
  margin-bottom: 30px;
  width: 250px;
  border: none;
  border-bottom: 1px solid #E6E6E6;
  color: #5B6C72;
  font-size: 1.2em;
}

.login-form .login-username:focus,
.login-form .login-password:focus {
  outline: none;
  border-bottom-color: #08A1BF;
}

.login-form .login-button {
  margin-top: 5px;
  width: 80px;
  height: 40px;
}

.login-form .login-error-message {
  margin-top: 5px;
  height: 25px;
  line-height: 25px;
  background: url(/images/sad_face.jpg) no-repeat 188px top;
  background-size: 25px 25px;
  color: #5B6C72;
  font-size: 0.95em;
  text-indent: 30px;
}

.login-form .register-info {
  height: 110px;
  background: #F7F7F7;
}

.login-form .close-login-button {
  position: absolute;
  top: 10px;
  left: 10px;
}
/*~~ Login Overlay Ends ~~*/

/*~~ Register to get app form ~~*/
.register-info {
  padding-top: 25px;
}

.register-info .register-form {
  margin-top: 25px;
}

.register-info .country-code,
.register-info .phone-number {
  background: none;
  border: none;
  border-bottom: 1px solid #E6E6E6;
  color: #5B6C72;
  font-size: 1.2em;
  text-align: center;
}

.register-info .country-code {
  margin-left: 20px;
  width: 70px;
}

.register-info .phone-number {
  margin: 0 20px;
  width: 175px;
}

.register-info .country-code:focus,
.register-info .phone-number:focus {
  outline: none;
  border-bottom-color: #08A1BF;
}

.register-info .get-app-button {
  position: relative;
  top: -5px;
  width: 100px;
  height: 28px;
}
/*~~ Register to get app form ends ~~*/
